
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    cursor: default;
}
.container{
    display: flex;
}
.sideNav{
    width: 417px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(201, 201, 201);
}
.bar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 417px;
    height: 117px;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.bar1 img{
    width: 96px;
    height: 93px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bar1 h2{
    width: 153px;
    height: 46px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    text-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.25);
}
.bar1 button img{
    width: 43px;
    height: 42px;
    margin-right: 30px;
    transition: transform 0.3s ease-in-out;
}
.bar1 button img:hover{
    transform: scale(0.8);
}
.bar1 button{
    margin-left: 25%;
    background-color: transparent;
    border: none;
}
.comingEvents h2{
    font-family: Bebas Neue;
    font-size: 33px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}
.reserves{
    height: 100vh;
    overflow-y: scroll;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.reserves::-webkit-scrollbar{
    width: 12px;
}
.reserves::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 6px;
}
.reserves::-webkit-scrollbar-thumb:hover{
    background-color: #888;
}
.detailsBox{
    width: 405px;
    height: 90px;
    padding-bottom: 10px;
}
.detailsBox:nth-child(odd){
    background-color: rgba(182, 171, 171, 0.15);
}
.detailsBox:nth-child(even){
    background-color: rgba(85, 52, 52, 0.15);
}
.title h2{
    margin-top: 8px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}
.details{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}
.details h2,.details p{
    font-family: "Inter";
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
    line-height: 12.1px;
    text-align: left;
    padding-top: 5px;

}
.details p{
    color: rgba(0, 0, 0, 0.67);
}
.date{
    padding-right: 100px;
}
.CalendarBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.RecordsTitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 117px;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.RecordsTitle h1{
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
    font-size: 100px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.199);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.RecordsTitle h1::before{
    content: "CUSTOMER RECORDS";
    margin-top: 17px;
    position: absolute;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 15px;
    text-align: left;
    font-size: 66px;
    color: #000000;
}
.user{
    display: flex;
}
.user img{
    margin-right: 30px;
    margin-top: 40px;
    height: 53px;
}
.user h2{
    margin-right: 22px;
    margin-top: 47px;
    font-size: 33px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;

}
.RecordsContent{
    margin-left: 25px;
    margin-top: 40px;
    display: flex;

}
.Box{
    width: 1400px;
    height: 800px;
    gap: 0px;
    border-radius: 20px;
    opacity: 0px;
    background: rgba(182, 171, 171, 0.178);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}
.contentTitle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 137px;
    border-bottom: 1px solid rgba(212, 212, 212, 1);
    align-items: center;
    
}
.year{
    width: 157px;
    height: 70px;
    display: flex;
    background: #D9D9D9;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}
.year h2{
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    margin-left: 21px;
}
.year img{
    margin-right: 16.5px;
    margin-left: 35px;
    width: 23px;
    height: 23px;
}
.pending{
    display: flex;
    flex-direction: column;
    width: 1398px;
    height: 675px;
    overflow: scroll;
}
.pendingBox{
    display: flex;
    justify-content: space-around;
    border: 1px solid #000000;
    background: #FFFFFF;
    width: 1380px;
    min-height: 135px;
}

.name h2{
    margin-top: 30%;
    font-size: 33px;
    font-weight: 400;
    line-height: 39.6px;
    text-align: left;

}
.recordDetails,.date2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recordDetails h2,.date2 h2{
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    text-align: left;
    margin: 0px;

}
.recordDetails h3,.date2 h3{
    margin: 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    text-align: left;
    color:  #000000AB;

}
.num,.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.num h4,.email h4{
    font-size: 20px;
    font-style: italic;
    font-weight: 800;
    line-height: 24.2px;
    text-align: left;
}

