body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reservation-form-container {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
}

.reservation-form {
    padding: 20px;
    flex: 1;
    max-width: 400px;
    background-color: #fff;
    
}

.reservation-form h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.reservation-form p {
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.reservation-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 20px;
    flex: 1;
    max-width: 400px;
}

.reservation-image img {
    max-width: 100%;
    border-radius: 10px;
}

.calendar-container {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    
}

.calendar-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.calendar-container table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-container th,
.calendar-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.calendar-container th {
    background-color: #f0f0f0;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #D4D4D4;
    margin: 20px 0;
}

/*  ANNOUNCEMENT TO */
.announcement-container {
    width: 100%;
    padding: 2px;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.announcement-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.announcement-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.announcement-container li {
    font-size: 18px;
    margin-bottom: 5px;
}


.back-Button a img{
    margin-top: 15px;
    margin-left: 15px;
    width: 53px;
    height: 53px;
    transition: transform 0.3s ease-in-out;
}
.back-Button a img:hover{
    transform: scale(0.8);
}
.back-Button button{
    background-color: rgba(255, 0, 0, 0);
    border: none;
}
.calendar-container table tr td:hover{
    background-color: #D4D4D4;
}

/* Popup styles */
.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content img {
    max-width: 100%;
    height: auto;
}

button#closePopup {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button#closePopup:hover {
    background-color: #555;
}


