*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    cursor: default;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 115px;
    z-index: 100;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 30px;
    line-height: 48.6px;
    font-weight: 700;
    
}


.logo img{
    width: 139px;
    height: 142px;
    
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 25px;

}


.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    padding: 47px 47px;
    line-height: 36px;
}
.nav-links a:hover{
    background-color: rgba(148, 175, 143, 1);
}
.nav-links a.no-hover:hover{
    background-color:rgba(255, 255, 255, 0);
}
.auth-buttons {
    margin-right: 40px;
    display: flex;
    
}

.auth-buttons button{
    width: 117px;
    height: 43px;
    border-radius: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    transition: transform 0.2s ease-in-out;
    
}
.auth-buttons button:hover{
    transform: scale(0.9);
}
.signUp{
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25);
}

.auth-buttons a{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 13px;
    text-decoration: none;
}

.login a {
    color: rgb(0, 0, 0);
    
}

.signUp a {
    color: rgb(255, 255, 255);
}


/* sidebar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
}
.sidebar img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.menubar img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    display: none;
}
.sidebar-content{
    width: 100%;
    margin-top: 20%;
}
.sidebar a{
    margin-left: 20px;
    font-size: 30px;
    width: 100%;
    text-decoration: none;
    color: black;
}
.sidebar li{
    margin-top: 30%;
    width: 100%;
    list-style: none;
}
.sidebar .signUp a {
    color: rgb(255, 255, 255);
}
.sidebar .auth-buttons a{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 13px;
    text-decoration: none;
    margin: 0;
}
.sidebar .auth-buttons {
    margin: 0px;
    margin-top: 10%;
    margin-right: 5%;
    display: flex;
    
}
/* Header */


.tagline{
    font-size: 70px;
    font-weight: 700;
    line-height: 77.83px;
    z-index: 2;
}

/* Smootherizz Animation */
@keyframes slide {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: 0;
    }
}

.slider {
    width: 100%;
    height: 1080px; /* sure lang the height matches the image height */
    position: relative;
    overflow: hidden;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust the opacity value as needed */
    z-index: 1;
}

figure {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: slide 20s ease-in-out infinite; /* Increased duration and smoother transition */
}

.slide {
    position: relative;
    width: 25%;
    float: left;
}

.slide img {
    object-fit: cover;
    width: 100%;
    height: 1080px; /* sure lang yung height matches the container */
}
.reservation button{
    position: absolute;
    margin-top: 10%;
    margin-left: 85%;
    z-index: 2;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.568);
    width: 250px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.reservation button:hover{
    background-color:  rgba(148, 175, 143, 1);
    transform: scale(0.9);
}
.reservation a{
    position: relative;
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 800;
}

.messange button{
    position: absolute;
    margin-top: 48%;
    margin-left: 90%;
    z-index: 2;
    width: 103px;
    height: 103px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 10px;

}
.messange button a img{
    width: 50px;
    height: 42px;
}

.centered-text{
    position: absolute;
    width: 100%;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* para masure lang na nasa ibabaw ang text nai2 */
}   

.centered-text h1 {
    font-style: italic;
    font-size: 55px;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.Upcoming{
    z-index: 2;
    position: absolute;
    width: 986px;
    height: 180px;
    left: 466px;
    top: 573px;
    background: #F5F5F5;
    border-radius: 21px;

}
.Upcoming h2{
    z-index: 2;
    position: absolute;
    width: 197px;
    height: 24px;
    left: 40px;
    top: 30px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.Upcoming h3{
    margin-top: 5px;
}
.Upcoming h3,p{
    margin-left: 15px;
    font-family: 'Inter';
    font-weight: 800;
    font-style: italic;
    font-size: 15px;
}
.Upcoming p{
    
    color: rgba(0, 0, 0, 0.67);
}
.eventLine{
    position: absolute;
    width: 899px;
    height: 0px;
    left: 4%;
    top: 40%;
    background-color: black;
    border: 1px solid #110404;
    transform: rotate(0.19deg);
}

.details{
    margin-top: 9%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}
.details .theme,.venue,.date{
    background-color: rgba(106, 239, 85, 0.47);
    width: 250px;
    height: 52px;
    border-radius: 15px;
}

/* EVENTS SECTIONS TO AH */
.events-section {
    padding: 100px 120px;
    background-color: #ffffff;
}

.events-section h2 {
    font-weight: 400;
    text-align: left;
    font-size: 90px;
    margin-bottom: 30px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.199);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.events-section h2::before{
    content: "EVENTS";
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 400;
    text-align: left;
    font-size: 63px;
    color: #000000;
}

.events-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-link {
    font-weight: 400;
    font-size: 20px;
    margin: 0 20px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    position: relative;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}


.category-link:hover {
    color: #6aef55;
}

.category-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #6aef55;
    transition: width 0.3s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
}

.category-link:hover::after {
    width: 100%;
}

.events-gallery {
    display: flex;
    justify-content: center;

}
.events-gallery img{
    filter: brightness(70%);
}

.event-item {
    margin: 10px;
}

.event-item img {
    width: 402px;
    height: 442px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.event-item img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* WHAT WE OFFER SECTION   */
.offer-section{
    padding: 100px 120px;
    background-color: #ffffff;
}

.offer-section h2{
    font-weight: 400;
    text-align: left;
    font-size: 90px;
    margin-bottom: 100px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.199);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.offer-section h2::before{
    content: "WHAT WE OFFER";
    margin-left: 10px;
    margin-top: 17px;
    position: absolute;
    font-weight: 400;
    text-align: left;
    font-size: 59px;
    color: #000000;
}

.catering-item1 img{
    width: 392px;
    height: 707px;
    border-radius: 36px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
.catering-content{
    display: flex;
    justify-content: center;
}
.catering-content img{
    filter: brightness(65%);
    transition: transform 0.2s ease-in-out;
}
.catering-content img:hover{
    filter: brightness(65%);
    transform: scale(1.05);

}
.catering-description{
    width: 401px;
    height: 168px;
    margin-left: 25px;
}
.catering-description h3{
    font-weight: 400;
    font-size: 66px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}
.catering-description p{
    font-weight: 400;
    font-size: 20px;
    color: rgba(199, 180, 180, 1);
}
.catering-description img{
    margin-top: 25px;
    width: 385px;
    height: 403px;
    object-fit: cover;
    border-radius: 36px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
.catering-item3{
    margin-left: 40px;
}
.catering-item3 img{
    width: 385px;
    height: 403px;
    border-radius: 36px;
    object-fit: cover;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}
.catering-item3 p{
    margin-top: 47px;
    width: 401px;
    height: 144px;
    font-weight: 400;
    font-size: 20px;
    color: rgba(199, 180, 180, 1);
}
.catering-item4{
    margin-left: 30px;
}
.catering-item4 img{
    width: 392px;
    height: 707px;
    border-radius: 36px;
    object-fit: cover;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
}

/* ABOUT US */

.about-section{
    padding: 100px 120px;
    background-color: #ffffff;
    margin-bottom: 300px;
}
.about-section h1{
    position: relative;
    font-weight: 400;
    text-align: right;
    font-size: 90px;
    margin-bottom: 100px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.199);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.about-section h1::before{
    content: "ABOUT US";
    margin-top: 19px;
    margin-left: 80px;
    position: absolute;
    font-weight: 400;
    text-align: right;
    font-size: 59px;
    color: #000000;
}
.about-pics{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-pics img{
    width: 402px;
    height: 560px;
    border-radius: 36px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
    object-fit: cover;
    margin: 0px 15px;
    filter: brightness(60%);
    transition: transform 0.2s ease-in-out;
}
.about-pics img:hover{
    transform: scale(1.05);
}


.card{
    position: absolute;
    width: 449px;
    height: 442px;
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 30px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}

.about-desc h2{
    margin-top: 40px;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: rgba(106, 239, 85, 1);
}

.about-desc p{
    font-family: 'Bebas Neue';
    font-style: normal;
    margin-top: 25px;
    margin-left: 80px;
    width: 280px;
    height: 264px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
/* FOOTER */
.Footer1{
    display: flex;
    width: 100%;
    height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-content: center;
}
.social{
    display: flex;
    margin-left: 25px;
}
.social a .facebook{
    margin-left: 30px;
    width: 81px;
    height: 85px;
    

}
.social a .messenger{
    margin-top: 18px;
    width: 59px;
    height: 58px;


}
.footer{
    
    display: flex;
}
.footer p{
    margin-top: 10px;
    text-align: right;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
.page{
    font-family: "Inria Serif", serif;
    width: 340px;
    height: 72px;
    font-weight: 700;

    
}
.telephone{
    font-family: "Inter", sans-serif;
    margin-left: 50px;
    margin-right: 40px;
    font-weight: 800;

}

.Footer2{
    position: relative;
    display: flex;
    width: 100%;
    height: 227px;
    overflow: hidden;
}
.logo2{
    background-color: #ffffff;
    width: 216px;
    height: 227px;
    z-index: 1;
}
.logo2 img{
    width: 216px;
    height: 227px;
    
}
.footer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Pictures/LP1.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}
.title{
    margin-top: 50px;
    margin-left: 280px;
    position: absolute;
    z-index: 2;   
}
.title h1{
    font-size: 100px;
    font-weight: 400;
    color:  rgba(255, 254, 254, 1);
    text-shadow: -9px -7px rgb(165, 165, 165);
}