* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    width: 1150px;
    height: auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
}

.details {
    flex: 1;
    padding: 40px;
}

.details h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.details p {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.form-group label {
    font-size: 18px;
}

.form-group input, .form-group select {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin: 5px 0 20px;
    width: 100%;
    padding: 12px;
}

.designs input, .designs label {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.designs label img {
    width: 90px;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 12px;
    margin: 20px 0;
    padding: 22px;
}

.prev-events {
    position: absolute;
    overflow: hidden;
}

.events-slider {
    width: 290px;
    display: flex;
    animation: slide 12s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    16% {
        transform: translateX(-100%);
    }
    32% {
        transform: translateX(-200%);
    }
    48% {
        transform: translateX(-300%);
    }
    64% {
        transform: translateX(-400%);
    }
    80% {
        transform: translateX(-500%);
    }
    96% {
        transform: translateX(0);
    }
}

.prev-events img {
    width: 290px;
    height: 400px;
    border-radius: 30px;
    object-fit: cover;
    padding: 12px;
}

.designs {
    flex: 1;
    padding: 100px 40px 40px;
}

.date {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    padding: 100px 40px 40px;
}

.calendar {
    width: 100%;
    height: fit-content;
    text-align: center;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 12px;
    padding: 20px;
}

table {
    margin: auto;
}

th, td {
    padding: 5px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0;
}

.button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    background-color: white;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 5px;
    width: 124px;
    padding: 5px;
}

/*  ANNOUNCEMENT TO */
.announcement-container {
    width: 100%;
    padding: 20px;
    background-color: #fbfbfb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.announcement-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.announcement-container ul {
    list-style-type: disc;
    padding-left: 20px;
}

.announcement-container li {
    font-size: 18px;
    margin-bottom: 5px;
}

/*  SEPARATOR */

.separator {
    width: 100%;
    height: 2px;
    background-color: #D4D4D4;
    margin: 20px 0;
}