@media (max-width: 1440px){ 
    /* navbar */
    nav {
        height: 75px;
    }
    .logo img{
        transform: scale(0.7);
        
    }
    .logo a {
        position: absolute;
        margin-left: 110px;
        font-size: 20px;
        line-height: 25.6px;
        font-weight: 700;
        
    }
    .nav-links a{
        font-size: 25px;
        padding: 25px 25px;
    }
    .slider {
        height: 900px;
    }
    .slide img {
        height: 900px;
    }
    .reservation button{
        margin-left: 83%;
        width: 220px;
        height: 50px;
    }
    .reservation a{
        font-size: 15px;
    }
    .message button{
        width: 85px;
        height: 85px;
        margin-top: 54%;
    }
    .message button a img{
        width: 45px;
        height: 37px;
    }
    /* events */
    .event-item img{
        width: 302px;
        height: 342px;
    }
    .events-section h2{
        margin-right: 60%;
    }
    /* WHAT WE OFFER SECTION   */

    .offer-section{
        padding: 100px 87px;
    }
    .offer-section h2{
        margin-right: 60%;
    }
    .catering-item1 img{
        width: 292px;
        height: 557px;
    }
    .catering-description{
        width: 301px;
        height: 88px;
        margin-left: 15px;
    }
    .catering-description h3{
        font-size: 56px;
    }
    .catering-description p{
        font-size: 15px;
        color: rgba(199, 180, 180, 1);
    }
    .catering-description img{
        margin-top: 15px;
        width: 315px;
        height: 330px;
    }
    .catering-item3{
        margin-left: 40px;
    }
    .catering-item3 img{
        width: 315px;
        height: 330px;
    }
    .catering-item3 p{
        margin-top: 47px;
        width: 301px;
        height: 144px;
        font-size: 15px;
        color: rgba(199, 180, 180, 1);
    }
    .catering-item4{
        margin-left: 15px;
    }
    .catering-item4 img{
        width: 292px;
        height: 557px;
    }
    /* ABOUT US */
    .about-section{
        padding: 100px 87px;
    }
    .about-pics img{
        width: 302px;
        height: 460px
    }
    .card{
        width: 349px;
        height: 362px;
    }
    .about-desc h2{
        font-size: 30px;

    }

    .about-desc p{
        width: 240px;
        height: 244px;
        margin-left: 60px;
        font-size: 15px;
    }
    /* FOOTER */
    .Footer1{
        height: 80px;
    }
    .social a .messenger{
        width: 49px;
        height: 48px;
    }
    .social a .facebook{
        margin-top: 10px;
        width: 61px;
        height: 65px;
    }

    .footer p{
        margin-top: 10px;
        text-align: right;
        font-size: 20px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    }
    .Footer2{
        height: 157px;
    }
    .logo2{
        width: 157px;
        height: 157px;
    }
    .logo2 img{
        width: 157px;
        height: 157px;
    }
    .title{
        margin-top: 30px;
        margin-left: 250px;
    }
    .title h1{
        font-size: 80px;
    }
    /* CustomerPage */
    .Upcoming,.Upcoming .details div,h2{
        left: 17%;
        top: 60%;
        transform: scale(0.8)
    }
    .eventLine{
        background-color: black;
        border: 1px solid black;
    }
    /* CALENDAR */
    .sideNav{
        width: 317px;
        height: 100vh;    }
    .bar1{
        width: 317px;
        height: 117px;
    }
    .detailsBox{
        width: 305px;
        height: 90px;
    }
    .title{
        padding: 0px;
        margin: 0px;
    }
    .title h2{
        margin-left: 0px;
    }
    .Box{
        width: 1080px;
        height: 597px;
    }
    .week div{
        width: 120px;
        height: 95px;

    }
    .dates{
        margin: 50px 50px;
    }
    .week div p{
        margin-top: 50%;
        margin-right: 10px;
        font-size: 33px;
        font-weight: 400;
        line-height: 39.6px;
        text-align: right;
    }
    .occupied h3{
        margin-left: 10px;
        margin-top: 15px;
        position: absolute;
        font-size: 15px;
        font-weight: 400;
        text-align: left;
    
    }
    .calendarContent{
        margin-left: 20px;
        margin-top: 30px;

    }
}
@media (max-width: 1080px) and (min-width: 772px)   {
    nav{
        padding: 0;
        width: 100%;
        height: 75px;
        
    }
    .menubar img{
        display: flex;
    }
    .sidebar{
        display: none;
    }
    .sidebar li:hover{
        background-color: rgb(158, 158, 158);
    }
    .auth-buttons{
        display: none;
    }
    .sidebarlog{
        transform: scale(0.9);
    }
    .nav-links{
        display: none;
    }
    .centered-text{
        width: 390px;
    }
    .centered-text h1{
        font-size: 45px;
    }
    .reservation button{
        margin: 0;
        transform: scale(0.8);
        margin-top: 15%;
        margin-left: 70%;
        
    }
    .message button{
        margin: 0;
        transform: scale(0.7);
        margin-top: 75%;
        margin-left: 80%;
    }
    /* events */
    .events-section{
        padding: 0px;
    }
    .events-gallery{
        transform: scale(0.7);
    }
    /* offer */
    .offer-section{
        padding: 0px;
    }
    .offer-section h2{
        margin: 0px;
    }
    .catering-content{
        transform: scale(0.7);
    }
    /* about us */
    .about-section{
        padding: 0px;
    }
    .about-pics{
        transform: scale(0.7);
    }
    /* customer page */
    .Upcoming{
        width: 600px;
        transform: scale(1);
        left:190px;
    }
    .eventLine{
        width: 550px;

    }
    .Upcoming .details{
        margin-top: 100px;
    }
    /* footer */
    .Footer1{
        justify-content: start;
    }
    .social a .messenger{
        width: 30px;
        height: 30px;
    }
    .social a .facebook{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .footer{
        width: 220px;
        align-content: start;
        margin-left: 10px;
    }
    .footer p{
        width: 150px;
        font-size: 12px;
        text-align: left;
    }
    .telephone{
        margin: 0;
        
    }
    .Footer2{
        height: 90px;
    }
    .Footer2 .logo2,.Footer2 .logo2 img{
        width: 90px;
        height: 90px;
    }
    .title h1{
        font-size: 50px;
        text-shadow: -3px -2px rgb(165, 165, 165);
    }
    .title{
        margin-top: 17px;
        margin-left: 25%;
        
    }
} 
@media (max-width: 768px){
    nav{
        padding: 0;
        width: 100%;
        height: 75px;
        
    }
    .menubar img{
        display: flex;
    }
    .sidebar{
        display: none;
    }
    .sidebar li:hover{
        background-color: rgb(158, 158, 158);
    }
    .auth-buttons{
        display: none;
    }
    .sidebarlog{
        transform: scale(0.9);
    }
    .nav-links{
        display: none;
    }
    .centered-text{
        width: 390px;
    }
    .centered-text h1{
        font-size: 45px;
    }
    .reservation button{
        margin: 0;
        transform: scale(0.8);
        margin-top: 15%;
        margin-left: 70%;
        
    }
    .message button{
        margin: 0;
        transform: scale(0.7);
        margin-top: 100%;
        margin-left: 80%;
    }
    /* events */
    .events-section{
        padding: 0px;
    }
    .events-gallery{
        transform: scale(0.56);
    }
    /* offer */
    .offer-section{
        padding: 0px;
    }
    .offer-section h2{
        margin: 0px;
    }
    .catering-content{
        transform: scale(0.56);
    }
    /* about us */
    .about-section{
        padding: 0px;
    }
    .about-pics{
        transform: scale(0.56);
    }
    /* customer page */
    .Upcoming{
        width: 600px;
        transform: scale(0.9);
        left: 100px;
    }
    .eventLine{
        width: 550px;

    }
    .Upcoming .details{
        margin-top: 100px;
    }
    /* footer */
    .Footer1{
        justify-content: start;
    }
    .social a .messenger{
        width: 30px;
        height: 30px;
    }
    .social a .facebook{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .footer{
        width: 220px;
        align-content: start;
        margin-left: 10px;
    }
    .footer p{
        width: 150px;
        font-size: 12px;
        text-align: left;
    }
    .telephone{
        margin: 0;
        
    }
    .Footer2{
        height: 90px;
    }
    .Footer2 .logo2,.Footer2 .logo2 img{
        width: 90px;
        height: 90px;
    }
    .title h1{
        font-size: 50px;
        text-shadow: -3px -2px rgb(165, 165, 165);
    }
    .title{
        margin-top: 15px;
        margin-left: 15%;
        
    }
}

@media (max-width: 576px){
    nav{
        padding: 0;
        width: 100%;
        height: 75px;
        
    }
    .menubar img{
        display: flex;
    }
    .sidebar{
        display: none;
    }
    .sidebar li:hover{
        background-color: rgb(158, 158, 158);
    }
    .auth-buttons{
        display: none;
    }
    .sidebarlog{
        transform: scale(0.9);
    }
    .nav-links{
        display: none;
    }
    .centered-text{
        width: 390px;
    }
    .centered-text h1{
        font-size: 45px;
    }
    .reservation button{
        margin: 0;
        transform: scale(0.8);
        margin-top: 20%;
        margin-left: 50%;
        
    }
    .message button{
        margin: 0;
        margin-top: 180%;
        transform: scale(0.5);
        margin-left: 80%;
    }

    /* EVENTS */
    .events-section{
        padding: 0px;
        margin-left: 7%;
    }
    .events-categories{
        justify-content: center;
        margin-right: 30px;
    }
    .events-gallery{
        flex-direction: column;
        width: 340px;
        height: 362px;
        overflow: scroll;
        justify-content: flex-start;
        align-items: center;
        transform: scale(1);
    }
    
    .scroll{
        display: flex;
        position: absolute;
        z-index: 2;
    }
    .scroll img{
        width: 25px;
        height: 25px;
        margin-top: 360px   ;
    }

    /* WHAT WE OFFER */
    .offer-section{
        padding: 0;
    }
    .offer-section h2{
        font-size: 80px;
        margin: 0px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .offer-section h2::before{
        font-size: 50px;
    }
    .catering-content{
        flex-direction: column;
        align-items: center;
        width: 385px;
        transform: scale(1);
    }
    .catering-description{
        flex-direction: column;
        height: 250px;
    }
    .catering-description h3{
        margin-top: 10%;
    }
    .catering-item2{
        display: none;
    }
    .catering-item3{
        margin: 0;
        flex-direction: column;
    }
    .catering-item4{
        margin: 0;
    }

    /* ABOUT US */
    .about-section{
        padding: 0;
    }
    .about-section h1{
        margin: 0;
        margin-right: 40px;
        margin-top: 30%;
        margin-bottom: 5%;
    }
    .about-pics{
        flex-direction: column;
        transform: scale(1);
    }
    .card{
        width: 250px;
    }
    .about-pics img{
        margin-bottom: 20px;
    }
    .about-desc p{
        margin: 0;
        width: 200px;
        margin-left: 10%;
    }
    /* FOOTER */
    .Footer1{
        justify-content: start;
    }
    .social a .messenger{
        width: 30px;
        height: 30px;
    }
    .social a .facebook{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .footer{
        width: 220px;
        align-content: start;
        margin-left: 10px;
    }
    .footer p{
        width: 150px;
        font-size: 12px;
        text-align: left;
    }
    .telephone{
        margin: 0;
        
    }
    .Footer2{
        height: 90px;
    }
    .Footer2 .logo2,.Footer2 .logo2 img{
        width: 90px;
        height: 90px;
    }
    .title h1{
        font-size: 25px;
        text-shadow: -3px -2px rgb(165, 165, 165);
    }
    .title{
        margin-top: 8%;
        margin-left: 25%;
        
    }
    /* customer page */
    .Upcoming{
        width: 600px;
        transform: scale(0.6);
        left: -80px;
    }
    .eventLine{
        width: 550px;

    }
    .Upcoming .details{
        margin-top: 100px;
    }
    /* popup */
    .popUp-content, 
    .ADpopUp-content,
    .SPpopUp-content{
        transform: scale(0.9);
    }
    .popUp .username,.popUp .pass,
    .ADpopUp-content .username,
    .ADpopUp-content .pass,
    .SPpopUp-content .username,
    .SPpopUp-content .pass,
    .SPpopUp-content .confirm{
        width: 350px;
    }
    .popUp .customer-login p{
        left: 130px;
    }
    #tag{
        left: 155px;
    }
    .popUp .login-box button,
    .ADpopUp-content .login-box button,
    .popUp .line,
    .SPpopUp-content .SignUP-box button{
        left: 90px;
    }
    .popUp .createAcc button{
        left: 120px;
    }
    .popUp .forgot-pass a,
    .ADpopUp-content .forgot-pass a,
    .popUp .admin-acc a,
    .SPpopUp-content .cancel a,
    .SPpopUp-content .cancel2 a{
        left: 170px;
    }

}













