body {
    font-family: 'Bebas Neue', sans-serif;
    background-image: url('../Pictures/LP1.jpg'); /* Adjust this path according to your project structure */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.instructions-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    text-align: left;
    font-size: 20px;
}

.instructions-container ol {
    padding-left: 20px;
}

.instructions-container ul {
    list-style-type: disc;
    margin-left: 20px;
}

.reminder {
    font-size: 30px;
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #706161;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #ae0a0a;
}
